body {
    font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #212529;
    background-color: #f8f9fa; /* color claro */
    margin: 0;
    padding: 0;
    background: #fa0000;
background: radial-gradient(circle, rgba(250, 0, 0, 1) 1%, rgba(250, 238, 0, 1) 5%, rgba(250, 0, 112, 1) 11%, rgba(221, 10, 30, 1) 40%, rgba(0, 89, 255, 1) 100%);

}

/* Títulos */
h1, h2, h3, h4, h5 {
    letter-spacing: 0.5px;
}

h1 {
    color: #0d6efd; /* Azul principal */
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

h2 {
    color: #198754;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.75rem;
}

h3 {
    color: #198754; /* Verde elegante */
    font-size: 1.75rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

/* Parrafos y texto normal */
p {
    color: #333;
    font-size: 1rem;
    margin-bottom: 0.75rem;
}

/* Links */
a {
    color: #0d6efd;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #084298;
    text-decoration: underline;
}

/* Botones personalizados */
.btn {
    font-weight: 500;
    letter-spacing: 0.3px;
}

/* Tablas */
table {
    font-size: 0.95rem;
}

.table th {
    font-weight: 600;
    background-color: #3097e1;
    color: #212529;
}

.table td {
    color: #333;
}

/* Títulos especiales */
.titulo-principal {
    font-size: 2rem;
    font-weight: bold;
    color: #fd0d0d;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

/*Tabla de jugadas*/
table th, table td {
    vertical-align: middle;
}

.table-hover tbody tr:hover {
    background-color: #e9f5ff;
}

.btn-sm i {
    font-size: 1rem;
}

/* Estilos para el botón de agregar */
#agregar_btn {
    background-color: #0e0000; /* Rojo elegante */
    color: rgb(246, 246, 250);
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
}

/*estilo para el contenedor del contenido*/
/*#content {
    background: #fa0000;
    background: radial-gradient(circle, rgba(250, 0, 0, 1) 1%, rgba(250, 238, 0, 1) 5%, rgba(250, 0, 112, 1) 11%, rgba(221, 10, 30, 1) 40%, rgba(0, 89, 255, 1) 100%);
}*/
thead th {
    background-color: #0192fa;
    color: #ff0000;
}
